@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@400;500;700;800;900&display=swap');

:root {
	--bright-red: hsl(12, 88%, 59%);
	--dark-blue: hsl(228, 39%, 23%);
	--dark-grayish-blue: hsl(227, 12%, 61%);
	--very-dark-blue: hsl(233, 12%, 13%);
	--pale-red: hsl(12, 100%, 69%);
	--very-light-gray: hsl(0, 0%, 98%);
	--primary-font: 'Be Vietnam', sans-serif;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	color: var(--dark-blue);
}

body {
	font-family: var(--primary-font);
	position: relative;
	width: 100%;
	margin: 0 auto;
}

body::-webkit-scrollbar {
	width: 0.5rem;
}

body::-webkit-scrollbar-track {
	background-color: #fff;
}

body::-webkit-scrollbar-thumb {
	background-color: hsl(12, 88%, 59%);
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

a,
button {
	transition: all 0.3s ease-in-out;
}

button {
	cursor: pointer;
	font-family: inherit;
	outline: none;
	padding: 0.7rem 1.6rem;
	border: none;
	border-radius: 2rem;
	background: var(--bright-red);
	color: #fff;
	box-shadow: 0px 2px 5px var(--bright-red);
}

button:hover {
	background: var(--pale-red);
}

/* ====== Illustration ===== */
.background-illustration,
.diff-illustration {
	position: absolute;
	width: 100%;
	height: 100vh;
	background-image: url('./images/bg-simplify-section-desktop.svg');
	background-repeat: no-repeat;
	background-size: cover;
	pointer-events: none;
	z-index: -10;
}

.background-illustration {
	top: 0;
	right: 0;
	background-position: right;
}

.diff-illustration {
	left: -30%;
	bottom: 10%;
	background-position: left;
}

/* ===== Navigation ===== */
header,
.stat-section,
.difference-section {
	width: 85%;
	margin: 0 auto;
}

header {
	min-height: 10vh;
	padding: 3rem 0;
}

.links,
header,
.stat-section,
.difference-section,
.diff-card,
.testimonials-cards {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.links li {
	padding: 0 1rem;
}

.links a {
	font-weight: 500;
}

.links a:hover {
	color: var(--dark-grayish-blue);
}

/* ===== Statistics Section ===== */
.stat-section {
	min-height: 90vh;
}

.stat-description h1 {
	font-size: 3.5rem;
	line-height: 120%;
	margin-bottom: 2rem;
	font-weight: 800;
}

.stat-description p {
	font-size: 1rem;
	line-height: 150%;
	margin-bottom: 2rem;
	font-weight: 500;
	width: 70%;
	color: var(--dark-grayish-blue);
}

.stat-image,
.stat-description,
.diff-description,
.diff-cards {
	width: 50%;
}

.stat-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* ===== Difference Section ===== */
.section-diff-container {
	width: 100%;
	position: relative;
}

.difference-section {
	margin: 3rem auto;
}

.diff-description {
	align-self: flex-start;
}

.diff-description h1 {
	font-weight: 700;
	font-size: 2.5rem;
	line-height: 120%;
	margin-bottom: 2rem;
}

.diff-description p {
	font-weight: 500;
	font-size: 1rem;
	line-height: 150%;
	color: var(--dark-grayish-blue);
	width: 70%;
}

.diff-card button {
	align-self: flex-start;
	margin-right: 1rem;
	pointer-events: none;
}

.diff-details {
	margin-bottom: 3rem;
}

.diff-details h2 {
	font-size: 1.1rem;
	margin-bottom: 1rem;
}

.diff-details p {
	font-size: 1rem;
	color: var(--dark-grayish-blue);
	width: 80%;
}

/* ===== Testimonials Section ===== */
.testimonials-section h1 {
	text-align: center;
	font-size: 2rem;
	font-weight: 800;
}

.testimonials-cards {
	margin: 5rem 0 3rem;
	width: 100%;
}

.testimonial-card {
	position: relative;
	border-radius: 0.5rem;
	background: var(--very-light-gray);
	color: var(--dark-grayish-blue);
	text-align: center;
	margin: 0 0.5rem;
	padding: 2rem;
}

.testimonial-card img {
	width: 15%;
	position: absolute;
	top: -25%;
	left: 50%;
	transform: translate(-50%, 25%);
}

.testimonial-card h3 {
	font-size: 1rem;
	font-weight: 700;
	margin: 1rem 0;
}

.testimonial-card p {
	color: var(--dark-grayish-blue);
	font-size: 0.9rem;
	font-weight: 500;
}

.testimonials-section button {
	position: relative;
	left: 50%;
	transform: translate(-50%, 0);
	margin-bottom: 10rem;
}
