@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

:root {
	--text-color: #333347;
}

/* Navigation menu */
.navbar-brand {
	font-family: 'Montserrat';
	font-weight: 600;
	color: var(--text-color);
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .nav-link {
	font-family: 'Montserrat';
	font-weight: 500;
	font-size: 14px;
	padding: 10px 20px;
	color: var(--text-color);
}

.nav-item .btn {
	font-size: 12px;
	font-weight: 600;
	letter-spacing: 1px;
	font-family: 'Montserrat';
	color: var(--text-color);
	outline-color: var(--text-color);
	border-color: var(--text-color);
}

.nav-item .btn:hover {
	color: #fff;
	border-color: #fff;
	outline-color: #fff;
}
